.row {
    
    @mixin clearfix;    

    @mixin atMedium {
        &__medium-4 {
            float: left;
            width: 33.33%;

            &--larger {
                width: 37%;
                /* overriding the previous rule instead of changing it, cause we can make use of the 33% width later in the testimonial-section ... ?? */
            }
        }

        &__medium-8 {
            float: right;
            width: 66.66%;
            /* ... which ofc means that we'll never use *this* rule even once - good practice? */

            &--smaller {
                width: 63%;
            }
        }

        &__medium-6 {
        float: left;
        width: 50%;
        }
    }

    &--gutters {

        margin-right: -65px;

        &>div {
            padding-right: 65px;
        }

        &-large {
            margin-right: -100px;

                &>div {
                padding-right: 100px;
            }
        }
    }
}